.msg-background {
    position: fixed;
    display: flex;
    background-color: rgba(0, 0, 0, 0.40);
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
}

.msg-wrapper {
    position: relative;
    align-self: center;
    margin: 0 auto;
    background-color: #be323a;
    color: white;
    padding: 10px;
    text-align: center;
}

.msg-wrapper span {
    font-size: 20px;
}