input[type=file] {
    display: none;
}

.b-button {
    margin: 0;
    font-size: 16px;
    font-weight: normal;
}

label.formInput {
    line-height: 35px;
}

label.formInput.spacing {
    line-height: 50px;
}

span.b-button {
    margin-left: 10px;
}

button.b-button {
    margin-top: 40px;
}

.warning {
    color:#d0332d;
    font-size: 14px;
}

.right {
    text-align: right;
    width: 100%;
}