body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    color: #505050;
    font-size: 20px;
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 250px;
    background-color: #133b6c;
    z-index: -1;
}

.content-wrapper {
    display: flex;
    justify-content: center;
}

.content {
    margin-top: 150px;
    background-color: white;
    padding: 40px;
    width: auto;
    max-width: 75%;
    box-shadow: 0px 0px 5px 2px rgba(100,100,100,1);
    box-sizing: border-box;
    margin-bottom: 50px;
    min-width: 300px;
}

.center {
    text-align: center;
}

.b-button {
    margin-top: 20px;
    padding: 10px;
    min-width: 120px;
    max-width: none;
    width: 100%;
    background-color: #133b6c;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
}

.b-button.inline {
    width: 270px;
}

input {
    padding: 10px;
    font-size: 20px;
    box-sizing: border-box;
}

input[type=text], input[type=password] {
    width: 270px;
}

label {
    font-size: 16px;
}

span {
    font-size: 16px;
}

select {
    padding: 10px;
    font-size: 15px;
    width: 100%;
    max-width: max-content;
}

.b-text {
    display: block;
    text-align: justify;
}

.info {
    position: absolute;
    top: 0;
    width: 75%;
    padding-top: 20px;
    color: white;
    box-sizing: border-box;
    line-height: 30px;
    overflow: auto;
}

.question {
    font-size: 20px;
    line-height: 35px;
}

.icon {
    margin-right: 10px; 
}

.alert:before {
    content: "* Campos obrigatórios \a";
    white-space: pre;
    font-size: 15px;
    color: red;
}

.required:before {
    content: "* ";
    color: red;
}

.required-right:after {
    content: "*";
    position: absolute;
    margin-left: 10px;
    color: red;
}

.error {
    font-size: 16px;
    color: red;
}