.b-select {
    width: 100%;
    max-width: 540px;
}

button {
    background-color: #be323a;
    border: 0;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
    max-width: 190px;
    text-align: center;
}

.formQuestion {
    font-size: 20px;
}