.property {
    margin-bottom: 0px;
    font-weight: bold;
}

span {
    margin-bottom: 10px;
    display: block;
}

a {
    display: block;
    font-size: 17px;
    margin-bottom: 10px;
}

.block {
    border: 1px solid black;
    padding: 5px;
}